@charset "UTF-8";
/* CSS Document */

body {
	background: #f2f9f9;
	font-family: 'Cardo', serif;
	font-weight:400;
	font-size: 20px;
	line-height: 1.4em;
	color: #1b1b1b;
}

.main {
	max-width: 700px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #111;
}

h1 {
	font-weight:700;
	font-size: 2.5em;
	line-height: 1em;
}

h2 {
	font-weight:700;
	font-size: 1.5em;
}

.img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
	margin: 0 auto;
}

a {
	color: #268180;
} 

a:hover {
	color: #b5dbdb;
}


a.button {
	background-color: #F60;
	color: #111;
	font-weight:normal;
	font-size:14px;
	line-height:1.2em;
	text-decoration:none;
	border-radius:5px;
	padding: 10px 30px 10px;
	box-shadow: 0px 1px 0px #111;
}

a.button:hover {
	background-color: #FC0;
	color: #111;
}

hr {
	border: 0;
	width: 70%;
	height: 2px; 
	background-color: #ccc;
	margin-top: 50px;
}


blockquote {
	font-style: italic;
	font-size: 22px;
}

footer cite {
	font-style:normal;
	font-size: 20px;
}

fieldset {
	border:0;
	margin:0;
	padding:0;
}

input[type="submit"] {
	background-color: #fff;
	color: #111;
	font-weight:normal;
	font-size:14px;
	line-height:1.2em;
	text-decoration:none;
	border-radius:5px;
	padding: 10px 30px 10px;
	border:none;
	outline:none;
	box-shadow: 0px 1px 0px #111;
}

input[type="text"], input[type="email"] {
	font-size: 16px;
	display: block;
	padding: 10px 30px 10px;
	border: 2px solid #fff;
	border-radius:5px;
	outline: none;
	margin: 1em 0;
	box-shadow: 0px 1px 0px #111;
}

.cta {
	border:2px dashed #F90;
	padding:15px;
	margin: 2em 0;
}

.cta h2 {
	margin-top:0;
}

.who img {
	float: right;
	width: 200px;
	border-radius: 100%;
    margin-left: 10px;
}

.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
	.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.slider {
	width: 80%;
	margin: 20px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

@media screen and (max-width: 400px) {
h1 {
	font-size: 2em;
	line-height: 1em;
}
.who { 
	float: none;
	margin-right:0;
	margin-bottom:20px;
	width:auto;
  }
  
.who img {
	float: none;
    max-width: 80%;
	width:100%;
    height: auto;
	margin: 0 auto;
	padding-bottom:20px;
}
.img-review {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
	margin: 0 auto;
}
}
